/* Reset styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #081f2b; /* Dark blue/ocean theme */
    color: #fff;
}

header {
    background-color: #0f4c75; /* Dark blue */
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between; /* Align items evenly */
    align-items: center;
}

.logo {
    display: flex; /* Ensure logo and text are aligned horizontally */
    align-items: center;
}

.oxswot-logo {
    width: 300px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add some spacing between the logo and the title */
}

h1 {
    font-size: 1.5rem; /* Adjust size as needed */
    margin: 0; /* Remove default margin */
}

nav ul {
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
#hero .container {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center;
    text-align: center;
}

#hero {
    background-image: url('swot_image_for_website.png'); /* Replace with your satellite image */
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 1); /* Default text color with opacity (white) */
    mix-blend-mode: difference;
}

.btn {
    padding: 10px 20px;
    background-color: #3282b8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0f4c75;
}

footer {
    background-color:rgba(255, 255, 255, 1);
}